<!DOCTYPE HTML>
<%#include "shorturl.h" %>
<% tfetch(QVariantHash, shorturl); %>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Shorturl</h1>

<%== formTag(urla("save", shorturl["id"]), Tf::Post) %>
  <p>
    <label>Keyword<br /><input type="text" name="shorturl[keyword]" value="<%= shorturl["keyword"] %>" /></label>
  </p>
  <p>
    <label>Url<br /><input type="text" name="shorturl[url]" value="<%= shorturl["url"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Update" />
  </p>
</form>

<%== linkTo("Show", urla("show", shorturl["id"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
