<%#include "shorturl.h" %>
<% tfetch(QVariantHash, shorturl); %>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New TShort</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Keyword<br /><input type="text" class="input-large" placeholder="Keyword" name="shorturl[keyword]" value="<%= shorturl["keyword"] %>"></label>
  </p>
  <p>
    <label>Url<br /><input type="text" class="input-large" placeholder="Url" name="shorturl[url]" value="<%= shorturl["url"] %>"></label>
  </p>
  <p>
    <input type="submit" value="Create" class="btn btn-primary">
  </p>
</form>

<%== linkTo("Back", urla("index")) %>
