<%#include "shorturl.h" %>
<% tfetch(QVariantHash, shorturl); %>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Shorturl</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Keyword<br /><input name="shorturl[keyword]" value="<%= shorturl["keyword"] %>" /></label>
  </p>
  <p>
    <label>Url<br /><input name="shorturl[url]" value="<%= shorturl["url"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>
