<%#include "shorturl.h" %>
<h1>Listing Shorturl</h1>

<%== linkTo("New entry", urla("entry")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>ID</th>
    <th>Keyword</th>
    <th>Url</th>
    <th>Hits</th>
  </tr>
<% tfetch(QList<Shorturl>, shorturlList); %>
<% for (QListIterator<Shorturl> it(shorturlList); it.hasNext(); ) {
     const Shorturl &i = it.next(); %>
  <tr>
    <td><%= i.id() %></td>
    <td><%= i.keyword() %></td>
    <td><%= i.url() %></td>
    <td><%= i.hits() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.id())) %>
      <%== linkTo("Edit", urla("edit", i.id())) %>
      <%== linkTo("Remove", urla("remove", i.id()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>
