<%#include "shorturl.h" %>
<a href='<%= urla("entry") %>' class='pull-right btn btn-primary btn-large'>New TShort</a>
<h1>TShort <small>A link shortener written in the C++ <a href='http://www.treefrogframework.org/'>TreeFrog Framework</a></small></h1>

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Keyword</th>
      <th>Url</th>
      <th>Hits</th>
      <th class='actions'>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% tfetch(QList<Shorturl>, shorturlList); %>
  <% for (QListIterator<Shorturl> it(shorturlList); it.hasNext(); ) {
       const Shorturl &i = it.next(); %>
    <tr>
      <td><%= i.id() %></td>
      <td><a href='/l/<%= i.keyword() %>' class='link'><%= i.keyword() %></a>
      <td><%= i.url() %></td>
      <td><%= i.hits() %></td>
      <td>
        <div class='btn-group'>
          <a href='<%= urla("show", i.id()) %>' class='btn'>Show</a>
          <a href='<%= urla("edit", i.id()) %>' class='btn'>Edit</a>
          <a href='<%= urla("remove", i.id()) %>' onclick="if (confirm('Are you sure?')) { var f = document.createElement('form'); document.body.appendChild(f); f.method = 'post'; f.action = this.href; var i = document.createElement('input'); f.submit(); } return false;" class='btn btn-danger'>Remove</a>
        </div>
      </td>
    </tr>
  <% } %>
  </tbody>
</table>
