<%#include "shorturl.h" %>
<% tfetch(Shorturl, shorturl); %>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Shorturl</h1>
<dt>ID</dt><dd><%= shorturl.id() %></dd><br />
<dt>Keyword</dt><dd><%= shorturl.keyword() %></dd><br />
<dt>Url</dt><dd><%= shorturl.url() %></dd><br />
<dt>Hits</dt><dd><%= shorturl.hits() %></dd><br />
<dt>Created at</dt><dd><%= shorturl.createdAt() %></dd><br />
<dt>Updated at</dt><dd><%= shorturl.updatedAt() %></dd><br />
<dt>Lock Revision</dt><dd><%= shorturl.lockRevision() %></dd><br />

<%== linkTo("Edit", urla("edit", shorturl.id())) %> |
<%== linkTo("Back", urla("index")) %>
